.container {
  display: flex;
  border-radius: 4px;
  align-self: center;
  background-color: white;
}

.search_results {
  display: flex;
  align-self: center;
  width: 100%;
}

.search_list{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.noResults {
  margin-top: 3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.5;
}

.message {
  align-self: center;
}

h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.options {
  display: flex;
  align-self: center;
}
